/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// global css
.container {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}
